<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ _pageTitle }}</title>
    <meta name="description" content="{{ _pageDescription }}" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- For color syntax -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/dart.min.js"></script>
    <script>hljs.highlightAll();</script>

    <link rel="alternate" type="application/rss+xml"  href="{{ _rssURL }}" title="{{ _rssTitle }}" />
  </head>
  <body class="bg-gray-100 h-screen">
    <!-- Navbar -->
    <div class="bg-gray-800 text-white p-4">
      <div class="container mx-auto flex justify-between">
        <a href="/" class="font-bold text-xl">Soccer News</a>
        <nav>
          <a href="/" class="mr-4">Home</a>
          <a href="/articles" class="mr-4">News</a>
          <a href="/journalists" class="mr-4">Our Journalists</a>
          <a href="/about">About</a>
        </nav>
      </div>
    </div>
  
    <!-- Main Section -->
    <div class="container mx-auto py-8">
      {{ body }}
    </div>
  
    <!-- Footer -->
    <div class="bg-gray-800 text-white py-4">
      <div class="container mx-auto text-center">
        2024 Soccer News. All rights reserved.
      </div>
    </div>
  </body>
</html>
